---
import "/src/css/app.css";
---

<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <title>televensi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="icon" type="image/x-icon" href="/assets/bg.gif" />
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/bg.gif" />
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/bg.gif" />
  </head>
  <body class="relative flex items-center flex-col min-h-screen bg-black">
    <video src="/assets/bg.mp4" autoplay loop muted playsinline class="motion-gif pb-10 sm:pt-20 absolute h-screen z-10 opacity-0 w-48"></video>
  </body>
  <div class="z-20 flex items-center justify-center flex-auto">
    <div class="flex flex-col items-center justify-center">
      <p class="m-8 text-4xl font-semibold text-white relative">
        <span class="motion-heart opacity-0 absolute inset-0 blur-md bg-white/50"></span>
        <span class="motion-heart opacity-0 relative z-30">&lt;3</span>
      </p>
      <ul class="flex gap-6">
        <li class="motion-link opacity-0">
          <a aria-label="telegram" href="https://t.me/televensi" target="_blank" class="flex items-center justify-center aspect-square w-12 text-white hover:text-white/70 transition relative">
            <div class="absolute inset-0 aspect-square h-12 bg-white/10 rounded-md backdrop-blur-[2px]"></div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="relative z-10 aspect-square w-8">
              <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4"></path>
            </svg>
          </a>
        </li>
        <li class="motion-link opacity-0">
          <a aria-label="youtube" href="https://www.youtube.com/@televensi" target="_blank" class="flex items-center justify-center aspect-square w-12 text-white hover:text-white/70 transition relative">
            <div class="absolute inset-0 aspect-square h-12 bg-black/30 rounded-md backdrop-blur-[2px]"></div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="relative z-10 aspect-square w-8">
              <path d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z"></path>
              <path d="M10 9l5 3l-5 3z"></path>
            </svg>
          </a>
        </li>
        <li class="motion-link opacity-0">
          <a aria-label="discord" href="https://discord.gg/7tyGzdMK" target="_blank" class="flex items-center justify-center aspect-square w-12 text-white hover:text-white/70 transition relative">
            <div class="absolute inset-0 aspect-square h-12 bg-white/10 rounded-md backdrop-blur-[2px]"></div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="relative z-10 aspect-square w-8">
              <path d="M8 12a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"></path>
              <path d="M14 12a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"></path>
              <path d="M15.5 17c0 1 1.5 3 2 3c1.5 0 2.833 -1.667 3.5 -3c.667 -1.667 .5 -5.833 -1.5 -11.5c-1.457 -1.015 -3 -1.34 -4.5 -1.5l-.972 1.923a11.913 11.913 0 0 0 -4.053 0l-.975 -1.923c-1.5 .16 -3.043 .485 -4.5 1.5c-2 5.667 -2.167 9.833 -1.5 11.5c.667 1.333 2 3 3.5 3c.5 0 2 -2 2 -3"></path>
              <path d="M7 16.5c3.5 1 6.5 1 10 0"></path>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <footer class="z-20 motion-footer opacity-0 text-xs sm:text-base text-center my-16 sm:my-4 text-neutral-500">
    <p>&copy; {new Date().getFullYear()} • <a href="https://t.me/s/televensi" class="hover:text-neutral-400 transition">televensi</a></p>
    <p>All rights reserved.</p>
  </footer>
</html>
<script src="/src/js/index.ts"></script>
