---
import { Card } from "@/components/ui/card";
import { AvatarComponent } from "../components/AvatarComponent.jsx";
---

<div class="min-h-screen w-full flex items-center justify-center">
  <Card className="w-full max-w-sm md:max-w-md bg-background/40 backdrop-blur">
    <div class="flex flex-col items-center gap-4 sm:gap-8 p-4 sm:p-8">
      <AvatarComponent
        client:load
        src="/assets/favicon.png"
        alt="yanetrillpill"
        fallbackText="avatar"
      />

      <h1 class="text-3xl font-bold tracking-wider text-accent-foreground">
        CONTACT
      </h1>

      <div class="w-full space-y-4 sm:space-y-4">
        <a
          class="hover:bg-accent flex items-center gap-2 transition p-3 rounded-lg border"
          aria-label="Mail"
          href="mailto:hzzhh41@gmail.com"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            width="24"
            height="24"
            stroke-width="2"
          >
            <path
              d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
            ></path>
            <path d="M3 7l9 6l9 -6"></path>
          </svg>
          <span class="text-accent-foreground truncate">hzzhh41@gmail.com</span>
        </a>

        <a
          class="hover:bg-accent flex items-center gap-2 transition p-3 rounded-lg border"
          aria-label="Telegram"
          href="https://t.me/yanetrillpill"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            width="24"
            height="24"
            stroke-width="2"
          >
            <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4"></path>
          </svg>
          <span class="text-accent-foreground truncate">@yanetrillpill</span>
        </a>
        <a
          class="hover:bg-accent flex items-center gap-2 transition p-3 rounded-lg border"
          aria-label="Home"
          href="/"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            width="24"
            height="24"
            stroke-width="2"
          >
            <path d="M5 12l14 0"></path>
            <path d="M5 12l6 6"></path>
            <path d="M5 12l6 -6"></path>
          </svg>
          <span class="text-accent-foreground truncate">Return home</span>
        </a>
      </div>

      <div class="text-accent-foreground">
        <span class="text-2xl font-bold">&lt;3</span>
      </div>
    </div>
  </Card>
</div>
