<footer class="z-20 my-16 text-xs text-center opacity-0 text-white/40 motion-footer sm:text-base sm:my-4">
  <p>&copy; {new Date().getFullYear()} • <a href="https://z0x.ca" class="transition hover:text-white/60">z0x</a></p>
  <p>All rights reserved.</p>
</footer>
