<footer
  class="z-20 mt-20 sticky bottom-0 text-xs text-center opacity-0 text-white/60 motion-footer sm:text-base"
>
  <p>
    &copy; {new Date().getFullYear()} • <a
      href="https://z0x.ca?utm_source=televensi"
      class="transition hover:text-white/80">z0x</a
    >
  </p>
  <p>All rights reserved.</p>
</footer>
