<footer
  class="z-20 text-center text-secondary-foreground sticky bottom-4 text-sm"
>
  <p>
    &copy; {new Date().getFullYear()} • <a
      href="https://z0x.ca?utm_source=televensi"
      class="transition hover:text-white/80">z0x</a
    >
  </p>
  <p>All rights reserved.</p>
</footer>
