---
import "/src/css/app.css";
import "@fontsource-variable/quicksand";
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/x-icon" href="/assets/helix.webp" />
<link rel="icon" type="image/png" sizes="192x192" href="/assets/helix.webp" />
<link
  rel="apple-touch-icon"
  type="image/png"
  sizes="180x180"
  href="/assets/helix.webp"
/>
<link rel="canonical" href="https://televensi.github.io" />

<title>televensi</title>
<meta name="title" content="televensi" />
<meta name="description" content="televensi" />

<meta property="og:type" content="website" />
<meta property="og:url" content="https://televensi.github.io" />
<meta property="og:title" content="televensi" />
<meta property="og:description" content="televensi" />

<meta property="twitter:url" content="https://televensi.github.io" />
<meta property="twitter:title" content="televensi" />
<meta property="twitter:description" content="televensi" />

<meta name="darkreader-lock" />

<script src="/src/js/index.ts"></script>
