<p class="relative m-8 text-4xl font-semibold text-white">
  <span class="absolute inset-0 opacity-0 blur-md motion-heart bg-white/50"></span>
  <span class="relative z-30 opacity-0 motion-heart">&lt;3</span>
</p>
