<!--<img src="/assets/helix.webp" alt="helix" class="absolute pt-56 w-48 opacity-0 sm:pt-80 motion-gif" />-->
<div class="absolute inset-0 flex items-center justify-center">
  <img src="/assets/helix.webp" alt="helix" class="pb-10 sm:pt-20 absolute w-48 opacity-0 motion-gif" />
</div>
