---
import Footer from "@components/Footer.astro";
import Head from "@components/Head.astro";
import Helix from "@components/Helix.astro";
---

<html lang="en">
  <head>
    <Head />
  </head>
  <body>
    <Helix />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
