---
import Head from "@components/Head.astro";
import { SpeedInsights } from "@vercel/speed-insights/next";
import Analytics from "@vercel/analytics/astro";
---

<html lang="en">
	<head>
		<Head />
	</head>
	<body>
		<main>
			<slot />
		</main>
		<SpeedInsights />
		<Analytics />
	</body>
</html>
